<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= data.organization[lang] %> - <%= data[view][lang] %></title>
        <link rel="icon" href="/assets/icons/favicon_16x16.ico" sizes="16x16" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon_32x32.ico" sizes="32x32" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon_48x48.png" sizes="48x48" type="image/png">
        <link rel="stylesheet" href="/assets/styles/style.css">
        <script src="/assets/js/script.js"></script>
    </head>
    <body>
        <header class="navbar">
            <nav class="nav-container">
                <div class="logo">
                    <img src="<%= data.logo[lang] %>" alt="Logo">&nbsp;<%= data.organization[lang] %>
                </div>
                <ul class="menu-items" id="menu">
                    <li><a href="/"><%= data.index[lang] %></a></li>
                    <li><a href="/about"><%= data.about[lang] %></a></li>
                    <li><a href="/partners"><%= data.partners[lang] %></a></li>
                    <li><a href="/media"><%= data.media[lang] %></a></li>
                    <li><a href="/contact"><%= data.contact[lang] %></a></li>
                    <li>
                        <% if (lang === 'fr-ca') { %>
                            <a href="?lang=en-ca">English</a>
                        <% } else { %>
                            <a href="?lang=fr-ca">Français</a>
                        <% } %>
                    </li>
                </ul>
            </nav>
        </header>        
