<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= data.organization[lang] %> - <%= data[route][lang] %></title>
        <link rel="icon" href="/assets/icons/favicon_16x16.ico" sizes="16x16" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon_32x32.ico" sizes="32x32" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon_48x48.png" sizes="48x48" type="image/png">
        <link rel="stylesheet" href="/assets/styles/about.css">
        <link rel="stylesheet" href="/assets/styles/class.css">
        <% if (data.debug) { %><link rel="stylesheet" href="/assets/styles/debug.css"><% } %>
        <link rel="stylesheet" href="/assets/styles/footer.css">
        <link rel="stylesheet" href="/assets/styles/media.css">
        <link rel="stylesheet" href="/assets/styles/side_menu.css">
        <link rel="stylesheet" href="/assets/styles/style.css">
        <link rel="stylesheet" href="/assets/styles/top_menu.css">
        <script src="/assets/js/script.js"></script>
    </head>
    <body>
        <header class="navbar">
            <nav class="nav-container">
                <div class="logo">

                    <!-- Side Menu Button -->
                    <button id="menu-toggle" class="menu-toggle">
                        <div class="hamburger">☰</div>
                        <img src="/assets/images/slcti.png">
                        <%= data.organization[lang] %>
                    </button>
                
                </div>
                <ul class="menu-items" id="menu">

                    <!-- Side Menu -->
                    <div id="side-menu" class="side-menu">
                        <a href="/?lang=<%= lang %>"><%= data.index[lang] %></a>
                        <a href="/about?lang=<%= lang %>"><%= data.about[lang] %></a>
                        <a href="/partners?lang=<%= lang %>"><%= data.partners[lang] %></a>
                        <a href="/media?lang=<%= lang %>"><%= data.media[lang] %></a>
                        <a href="/contact?lang=<%= lang %>"><%= data.contact[lang] %></a>
                        <% if (lang === 'fr-CA') { %>
                            <a href="?lang=en-CA"><img src="/assets/icons/en_ca.png" class="icon icon-flag">English</a>
                        <% } else { %>
                            <a href="?lang=fr-CA"><img src="/assets/icons/fr_ca.png" class="icon icon-flag">Français</a>
                        <% } %>
                    </div>

                    <!-- Top Menu -->
                    <li><a href="/?lang=<%= lang %>"><%= data.index[lang] %></a></li>
                    <li><a href="/about?lang=<%= lang %>"><%= data.about[lang] %></a></li>
                    <li><a href="/partners?lang=<%= lang %>"><%= data.partners[lang] %></a></li>
                    <li><a href="/media?lang=<%= lang %>"><%= data.media[lang] %></a></li>
                    <li><a href="/contact?lang=<%= lang %>"><%= data.contact[lang] %></a></li>
                    <li>
                        <% if (lang === 'fr-CA') { %>
                            <a href="?lang=en-CA"><img src="/assets/icons/en_ca.png" class="icon icon-flag">English</a>
                        <% } else { %>
                            <a href="?lang=fr-CA"><img src="/assets/icons/fr_ca.png" class="icon icon-flag">Français</a>
                        <% } %>
                    </li>

                </ul>
            </nav>
        </header>
        <script src="/assets/js/side_menu.js"></script>
