<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Official website for SLCTI, featuring information about the company and Simon Charest's professional resume." lang="en-CA">
        <meta name="description" content="Site officiel de SLCTI, présentant des informations sur l'entreprise et le CV professionnel de Simon Charest." lang="fr-CA">
        <title>
            <%= data.organization[lang] %>
            -
            <% if (data.title) { %>
                <%= data.title[lang] %>
            <% } else { %>
                <%= data[route][lang] %>
            <% } %>
        </title>
        <link rel="icon" href="/assets/icons/favicon_16x16.ico" sizes="16x16" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon_32x32.ico" sizes="32x32" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon_48x48.png" sizes="48x48" type="image/png">
        <link rel="stylesheet" href="/assets/styles/about.css">
        <link rel="stylesheet" href="/assets/styles/class.css">
        <% if (data.debug) { %><link rel="stylesheet" href="/assets/styles/debug.css"><% } %>
        <link rel="stylesheet" href="/assets/styles/footer.css">
        <link rel="stylesheet" href="/assets/styles/media.css">
        <link rel="stylesheet" href="/assets/styles/side_menu.css">
        <link rel="stylesheet" href="/assets/styles/style.css">
        <link rel="stylesheet" href="/assets/styles/top_menu.css">
    </head>
    <body>
        <header class="navbar">
            <nav class="nav-container">

                <!-- Side Menu Button -->
                <div class="logo">
                    <button id="menu-toggle" class="menu-toggle">
                        <div class="hamburger">&#9776;</div>
                        <img src="/assets/icons/favicon_48x48.png" alt="SLCTI">
                        <div class="title"><%= data.organization[lang] %></div>
                    </button>
                </div>

                <!-- Menu -->
                <div id="menu" class="menu">
                    <a href="/?lang=<%= lang %>"><%= data.index[lang] %></a>
                    <a href="/about?lang=<%= lang %>"><%= data.about[lang] %></a>
                    <a href="/partners?lang=<%= lang %>"><%= data.partners[lang] %></a>
                    <a href="/media?lang=<%= lang %>"><%= data.media[lang] %></a>
                    <a href="/contact?lang=<%= lang %>"><%= data.contact[lang] %></a>
                    <% if (lang === 'fr-CA') { %>
                        <a href="?lang=en-CA"><img src="/assets/icons/en_ca.webp" class="icon icon-flag" alt="Switch to English language">English</a>
                    <% } else { %>
                        <a href="?lang=fr-CA"><img src="/assets/icons/fr_ca.webp" class="icon icon-flag" alt="Passer à la langue française">Français</a>
                    <% } %>
                </div>

            </nav>
        </header>
        <script src="/assets/js/script.js" defer></script>
        <script src="/assets/js/side_menu.js" defer></script>