<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title><%= resume["intro"]["firstName"] %> <%= resume["intro"]["lastName"] %> | <%= resume["intro"]["organization"][lang] %></title>
        
        <link rel="icon" href="/assets/icons/favicon-16x16.ico" sizes="16x16" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon-32x32.ico" sizes="32x32" type="image/x-icon">
        <link rel="icon" href="/assets/icons/favicon-48x48.png" sizes="48x48" type="image/png">

        <link rel="stylesheet" href="/assets/styles/style.css">
    </head>
    <body>
        <div class="language">
            <strong>
                <% if (lang === 'fr-ca') { %>
                    <a href="?lang=en-ca">English</a>
                <% } else { %>
                    <a href="?lang=fr-ca">Français</a>
                <% } %>
            </strong>
        </div>

        <div class="profile">
            <div class="background">
                <img src="/assets/images/<%= resume['intro']['backgroundPhoto'] %>" class="background-photo">
                <img src="/assets/images/<%= resume['intro']['profilePhoto'] %>" class="profile-photo">
            </div>

            <div class="intro">
                <div>
                    <h1><%= resume["intro"]["firstName"] %> <%= resume["intro"]["lastName"] %></h1>
                    <h2><%= resume["intro"]["primaryPosition"]["title"][lang] %></h2>
                    <p><%= resume["intro"]["location"]["city"][lang] %>, <%= resume["intro"]["location"]["province"][lang] %>, <%= resume["intro"]["location"]["country"][lang] %></p>
                </div>
                <div>
                    <ul>
                        <li><img src="/assets/images/<%= resume['intro']['industryPhoto'] %>" class="icon"> <a href="<%= resume['intro']['primaryPosition']['website'] %>"><%= resume["intro"]["primaryPosition"]["companyName"][lang] %></a></li>
                        <li><img src="/assets/images/<%= resume['intro']['schoolPhoto'] %>" class="icon"> <a href="<%= resume['intro']['education']['website'] %>"><%= resume["intro"]["education"]["school"][lang] %></a></li>
                    </ul>
                </div>
            </div>
        
            <div class="contact-info">
                <h3><%= resume["global"]["contactInfo"][lang] %></h3>
                <button class="collapsible-button"><%= resume["global"]["seeMore"][lang] %></button>
                <div class="collapsible-content">
                    <ul>
                        <li><img src="/assets/icons/<%= resume['icon']['LinkedIn'] %>" class="icon"><strong><%= resume["global"]["profile"][lang] %></strong>&nbsp;<a href="<%= resume['intro']['contactInfo']['profileURL'] %>"><%= resume["intro"]["contactInfo"]["profileURL"] %></a></li>
                        <li><img src="/assets/icons/<%= resume['icon']['website'] %>" class="icon"><strong><%= resume["global"]["websites"][lang] %></strong>&nbsp;
                            <ul>
                                <% resume['intro']['contactInfo']['websites'].forEach(item => { %>
                                    <li><a href="<%= item['url'] %>"><%= item["url"] %></a>&nbsp;(<%= item["type"] %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                        <li><img src="/assets/icons/<%= resume['icon']['phone'] %>" class="icon"><strong><%= resume["global"]["phone"][lang] %></strong>&nbsp;<a href="tel:<%= resume['intro']['contactInfo']['phone']['number'] %>"><%= resume["intro"]["contactInfo"]["phone"]["number"] %></a>&nbsp;(<%= resume["intro"]["contactInfo"]["phone"]["type"] %>)</li>
                        <% 
                            const address = {
                                "Apartment": null,
                                "Civic number": null,
                                "Street name": null,
                                "Road type": null,
                                "Postal Code": "H2A",
                                "City": {"en-ca": "Montreal", "fr-ca": "Montréal"},
                                "Province": {"en-ca": "Quebec", "fr-ca": "Québec"},
                                "Country": {"en-ca": "Canada", "fr-ca": "Canada"}
                            };

                            const parts = [
                                address.Apartment ? `${address.Apartment}-` : '',
                                address["Civic number"] ? `${address["Civic number"]}` : '',
                                address["Street name"] ? `${address["Street name"]}` : '',
                                address["Road type"] ? `${address["Road type"]}` : '',
                                address["Postal Code"] ? `${address["Postal Code"]}` : '',
                                address.City[lang] ? `${address.City[lang]}` : '',
                                address.Province[lang] ? `${address.Province[lang]}` : '',
                                address.Country[lang] ? `${address.Country[lang]}` : ''
                            ];

                            // Filter out empty strings and join with a comma
                            const addressString = parts.filter(part => part).join(', ');
                        %>
                        <li><img src="/assets/icons/<%= resume['icon']['address'] %>" class="icon"><strong><%= resume["global"]["address"][lang] %></strong>&nbsp;<a href="https://www.google.ca/maps/place/<%= addressString %>"><%= addressString %></a></li>
                        <li><img src="/assets/icons/<%= resume['icon']['email'] %>" class="icon"><strong><%= resume["global"]["email"][lang] %></strong>&nbsp;<a href="mailto:<%= resume['intro']['contactInfo']['email'] %>"><%= resume["intro"]["contactInfo"]["email"] %></a></li>
                        <% if (resume["intro"]["contactInfo"]["Birthday"]) { %>
                            <li><img src="/assets/icons/<%= resume['icon']['birthday'] %>" class="icon"><%= resume["global"]["birthday"][lang] %>&nbsp;<%= resume["intro"]["contactInfo"]["birthday"] %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="about">
            <h3>About</h3>
            <button class="collapsible-button"><%= resume["global"]["seeMore"][lang] %></button>
            <div class="collapsible-content">
                <ul>
                    <% resume["about"].forEach(item => { %>
                        <% Object.entries(item).forEach(([key, value]) => { %>
                            <li>
                                <strong><%= key %>:</strong> <%= value %>
                            </li>
                        <% }); %>
                    <% }); %>
                </ul>
            </div>

            <h3><img src="/assets/icons/<%= resume['icon']['skill'] %>" class="icon"> Top skills</h3>
            <ul class="horizontal-list">
                <% resume["skills"].forEach(skill => { %>
                    <li><%= skill %></li>
                <% }); %>
            </ul>
        </div>

        <div class="experience">
            <h3>Experience</h3>
            <p><strong><%= resume["experience"]["title"] %></strong></p>
            <p><%= resume["experience"]["companyName"] %> - <%= resume["experience"]["employmentType"] %></p>
            <p><%= resume["experience"]["startDate"] %> - <%= resume["experience"]["endDate"] || "Present" %></p>
            <p><%= resume["experience"]["location"] %> - <%= resume["experience"]["locationType"] %></p>
            <button class="collapsible-button"><%= resume["global"]["seeMore"][lang] %></button>
            <div class="collapsible-content">
                <ul>
                    <% resume["experience"]["description"].forEach(item => { %>
                        <% Object.entries(item).forEach(([key, value]) => { %>
                            <li>
                                <strong><%= key %>:</strong> <%= value %>
                            </li>
                        <% }); %>
                    <% }); %>
                </ul>
            </div>
            <h3><img src="/assets/icons/<%= resume['icon']['Skill'] %>" class="icon"> Skills</h3>
            <ul class="horizontal-list">
                <% resume["experience"]["skills"].forEach(skill => { %>
                    <li><%= skill %></li>
                <% }); %>
            </ul>
            <h3>Media</h3>
            <ul>
                <% resume["experience"]["media"].forEach(media => { %>
                    <% for (const title in media) { %>
                        <li><a href="<%= media[title] %>"><%= title %></a></li>
                    <% } %>
                <% }); %>
            </ul>
        </div>
        <script>
            document.querySelectorAll('a').forEach(link => {
                const href = link.getAttribute('href');
                if (href) {
                    const linkHost = new URL(href, window.location.href).hostname;
                    const currentHost = window.location.hostname;

                    // Check if the link is external
                    if (linkHost !== currentHost) {
                        link.setAttribute('target', '_blank');

                        // For security reasons
                        link.setAttribute('rel', 'noopener noreferrer');
                    }
                }
            });
            const buttons = document.querySelectorAll('.collapsible-button');
            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    const content = button.nextElementSibling;

                    if (content.style.display === "block") {
                        content.style.display = "none";
                    }
                    
                    else {
                        content.style.display = "block";
                    }
                });
            });
        </script>
    </body>
</html>
