<%- include('header') %>
        
        <div class="body">
            <% if (data.background) { %>
                <img src="/assets/images/bliss.webp" class="background">
                <img src="/assets/images/2022-06-09.png" class="simon">
                <img src="/assets/images/buddy_macho.png" class="buddy-macho">
            <% } %>

            <h1 class="center header"><%= data[route][lang] %></h1>

            <% if (data.intro) { %>
                <div class="padding-25px">
                    <h2><%= data.intro[lang] %></h2>
                </div>
            <% } %>

            <% if (data.contents) { %>
                <div class="padding-25px">
                    <% data.contents.forEach(content => { %>
                        <p><%= content[lang] %></p>
                    <% }); %>
                </div>
            <% } %>

            <% if (data.medias) { %>
                <div class="padding-25px">
                    <% data.medias.forEach((media, index) => { %>
                        <div class="media-div">
                            <iframe class="media-iframe" src="<%= media.url %>" allowfullscreen></iframe>
                        </div>
                        <h3><%= media.title[lang] %></h3>
                        <strong><%= media.media %></strong>
                        <br><%= media.date %>
                        <br><%= media.description[lang] %>
                        <% if (index < data.medias.length - 1) { %>
                            <hr>
                        <% } %>
                    <% }); %>
                </div>
            <% } %>

            <% if (data.links) { %>
                <div class="center padding-25px">
                    <% data.links.forEach(link => { %>
                        <p>
                            <% if (link.key) { %>
                                <strong><%= link.key[lang] %></strong>
                            <% } %>
                            <% if (link.value) { %>
                                <% if (link.url) { %>
                                    <a href="<%= link.url %>" target="_blank"><%= link.value[lang] %></a>
                                <% } else { %>
                                    <%= link.value[lang] %>
                                <% } %>
                            <% } %>
                        </p>
                    <% }); %>
                </div>
            <% } %>
        </div>

<%- include('footer') %>
