<%- include('header') %>
        
        <div class="body">
            <h1 class="center header"><%= data[route][lang] %></h1>

            <% if (data.intro) { %>
                <div class="padding-25px">
                    <h2><%= data.intro[lang] %></h2>
                </div>
            <% } %>

            <% if (data.contents) { %>
                <div class="padding-25px">
                    <% data.contents.forEach(content => { %>
                        <p><%= content[lang] %></p>
                    <% }); %>
                </div>
            <% } %>

            <% if (data.medias) { %>
                <div class="center padding-25px">
                    <% data.medias.forEach(media => { %>
                        <h3><%= media.title[lang] %></h3>
                        <iframe width="100%" height="450px" src="<%= media.url %>" frameborder="0" allowfullscreen></iframe>
                    <% }); %>
                </div>
            <% } %>
        </div>

<%- include('footer') %>
